html {
  height: 100%;
}
body {
  background: linear-gradient(75deg, #f5f7fa 20%, #c3cfe2 60%);
  background-repeat: no-repeat;
  font-family: "Raleway", sans-serif;
}
.weather-app {
  max-width: fit-content;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 3px;
}
header {
  color: #949aa9;
  font-size: 48px;
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  display: inline-block;
  font-size: medium;
}
.today-details {
  text-align: center;
  color: #1e77c0;
}
.future-temp {
  color: #1e77c0;
}
.search-wrap {
  text-align: right;
}
.active {
  text-decoration: none;
  color: #22252a;
}
.active:hover {
  cursor: default;
}
.forecast {
  text-align: center;
}
.forecastTemps {
  color: #1e77c0;
}
